# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/

# Android related
**/android/**/gradle-wrapper.jar
**/.gradle/
**/captures/
**/gradlew
**/gradlew.bat
**/local.properties
**/GeneratedPluginRegistrant.java

# iOS/macOS related
**/Pods/
**/.symlinks/
**/flutter_export_environment.sh

# Test projects
portonandauji/
